<!DOCTYPE html>
<html>
<head>
  <title>Heart Disease Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="container">
    <h1>Tableau Dashboard</h1>

    <p>Embedded Tableau Dashboard below:</p>

    <iframe
      src="https://public.tableau.com/views/Heart_Disease_Project_17709676990640/Dashboard1?:showVizHome=no"
      width="100%"
      height="700"
      frameborder="0"
      allowfullscreen>
    </iframe>

    <div class="links">
      <a href="/">Back Home</a>
      <a href="/story">View Story</a>
    </div>
  </div>

</body>
</html>
