<!DOCTYPE html>
<html>
<head>
  <title>Heart Disease Story</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="container">
    <h1>Tableau Story</h1>

    <p>Embedded Tableau Story below:</p>

    <iframe
      src="https://public.tableau.com/views/HeartDiseaseRiskFactors_17709773163760/Story1?:showVizHome=no"
      width="100%"
      height="700"
      frameborder="0"
      allowfullscreen>
    </iframe>

    <div class="links">
      <a href="/">Back Home</a>
      <a href="/dashboard">View Dashboard</a>
    </div>
  </div>

</body>
</html>
